:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-headings: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--main-background);
  color: var(--main-paragraph);
}
h1,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.accent {
  color: var(--accent);
}

.container {
  max-width: 20.4rem;
  border-radius: 1%;
  background: var(--card-background);
  overflow: hidden;
  text-align: center;
  margin: 5.5rem 0;
}

.img-wrapper {
  background: linear-gradient(rgba(55, 3, 88, 0.524), rgba(46, 1, 74, 0.524)),
    url("images/image-header-mobile.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
  position: relative;
}

.main-section {
  padding: 2.6rem 2.313rem 0 2.313rem;
}

.main-section h1 {
  font-size: 1.6rem;
}

.main-section p {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

.stats-section {
  padding: 2.3rem 0;
}

.stats {
  margin-bottom: 1rem;
}

.main-heading-stats {
  color: var(--main-heading-stats);
  font-size: 1.2rem;
  font-weight: 700;
}
.sub-heading-stats {
  color: var(--stats-headings);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.65rem;
  margin-top: 0.5rem;
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 0.1rem;
}

/* .overlay {
  background: rgb(61, 1, 96);
  opacity: 0.3;
  min-height: 15rem;
} */

@media (min-width: 50rem) {
  .container {
    max-width: 69.3rem;
    max-height: 55.9vh;
    text-align: left;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .img-wrapper {
    order: 2;
    min-width: 34rem;
    height: 24rem;
  }
  .stats-section {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: auto; */
  }

  .main-section {
    padding-left: 4.9rem;
    padding-right: 7rem;
  }

  .main-section h1 {
    font-size: 1.9rem;
  }

  .main-section p {
    font-size: 0.95rem;
    margin-top: 2rem;
  }
}
